.main-container {
  display: flex;
  height: 100vh;
}

.left-container {
  height: 100%;
  float: left;
  background-color: red;
}

.right-container {
  height: 100vh;
  width: 100%;
  float: right;
  position: relative;
}

.release-lists {
  /* height: 100%; */
  height: calc(100vh - 95px);
  overflow: scroll;
}